<section class="content-section about-us-section">
    <div class="about-us">
        <h1 class="title">¿Quiénes somos?</h1>
        <p> 
            Somos el Grupo y Semillero de Investigación en Política, legislación y gestión ambiental POLYGESTA.
            <br><br>
            Estamos adscritos al Departamento de Geociencias y Medio Ambiente de la Facultad de Minas de la Universidad Nacional de Colombia- Sede Medellín, desde el 2003 y dirigido por el Profesor Carlos Alberto Zarate Yepes.
            <br><br>
            Nos dedicamos a la investigación de la actual política y legislación ambiental colombiana, el ordenamiento territorial y las problemáticas ambientales, sociales  y económicas alrededor de estas temáticas, sus retrocesos y nuevos desarrollos en la perspectiva de formar propuestas alternativas que respondan a las realidades locales, nacionales e internacionales.
        </p>
    </div>
    <div class="projects-button">
        <button type="button" class="btn btn-primary" (click)="navigateToProjects()">Nuestros proyectos</button>
    </div>
</section>
<div class="group-section">
    <div class="info-card">
        <h2>Nuestro enfoque estratégico</h2>
        <p>La política y legislación colombiana se encuentra en evolución permanentemente, incidiendo de manera directa en la relación sociedad-naturaleza y en el uso de los recursos naturales; con un equipo de profesionales y profesores de diferentes áreas del conocimiento, se contribuirá a dar respuesta a los retos que demanda esta evolución de la política y legislación ambiental nacional.</p>
    </div>
    <div class="info-card">
        <h2>Tenemos una perspectiva interdisciplinar</h2>
        <p>Las problemáticas ambientales no se resuelven por medio de una sola disciplina, debido a su complejidad se debe trabajar en conjunto con otras áreas del conocimiento como la ingeniería, ciencias sociales, biología y ciencias jurídicas, para poder  proponer soluciones viables y sostenibles. Es por esto que contamos con un equipo de profesionales y docentes de alto nivel pertenecientes a diferentes áreas del conocimiento.</p>
    </div>
</div>
<section class="content-section">
    <div class="lines-of-investigation">
        <h1 class="title">Líneas de Investigación</h1>
        <p>Abordamos las diferentes problemáticas desde las siguientes líneas estrátegicas. Estas están dirigidas por docentes con un alto nivel de formación académica y calidad humana, además nuestras líneas estratégicas continuamente se entrecruzan; dando paso a la formación integral de estudiantes de pregrado y posgrado, así como también, a la formulación y ejecución de proyectos que impactan en la sociedad a través de la sinergia entre Academia, Estado, Sociedad y Empresas.</p>
    </div>

    <div class="investigator-card">
        <div class="profile-info">
            <div class="project-info">
                <h3>Política y legislación ambiental</h3>
                <p>Analizamos críticamente y, de ser el caso, proponemos ajustes a la política y legislación ambiental y minera de Colombia.</p>
                <div class="ods">
                    <img src="../../../assets/image/ods/ods.png" alt="ods">
                    <img src="../../../assets/image/ods/ods11.png" alt="ods11">
                    <img src="../../../assets/image/ods/ods15.png" alt="ods15">
                    <img src="../../../assets/image/ods/ods17.png" alt="ods17">
                </div>
            </div>
            <div class="profile-section">
                <img src="../../../assets/image/profiles/carlos_alberto_zarate_yepes.png" alt="imagen-profesor" class="profile-image">
                <div>
                    <div class="academic-buttons">
                        <a href="https://orcid.org/0000-0002-6476-7193" class="academic-button">
                            <img src="../../../assets/image/icons/orcid.png" alt="orcid">
                            <span class="tooltipp">perfil ORCID</span>
                        </a>
                        <a href="https://www.researchgate.net/profile/Carlos-Zarate-Yepes" class="academic-button">
                            <img src="../../../assets/image/icons/researchgate.png" alt="researchgate">
                            <span class="tooltip">perfil Researchgate</span>
                        </a>
                        <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000384321" class="academic-button">
                            <img src="../../../assets/image/icons/cvlac.png" alt="cvlac">
                            <span class="tooltip">perfil CVLAC</span>
                        </a>
                    </div>
                    <p class="profile-role">Docente Líder</p>
                    <p class="profile-name">Carlos Alberto Zárate Yepes, PhD.</p>
                </div>
            </div>

        </div>
        <div class="related-projects">
            <h4>Proyectos asociados a la línea de investigación</h4>
            <div class="projects-section">
                <div class="project" (click)="navigateToProject('project1')">
                    Adopción y apropiación de desarrollos tecnológicos generados y/o apropiados para el uso eficiente de los recursos naturales y la agrobiodiversidad, y el fortalecimiento de la agenda cero deforestaciones en la jurisdicción de CORANTIOQUIA
                </div>
                <div class="project" (click)="navigateToProject('project2')">
                    Derechos de Acceso a la Información y Participación en Asuntos Ambientales en Colombia: Análisis Conflicto socio-ambiental "Túnel de Oriente".
                </div>
            </div>
            <img src="../../../assets/image/icons/idlinea1.png" alt="image">
        </div>
    </div>

    <div class="investigator-card">
        <div class="profile-info">
            <div class="project-info">
                <h3>Gestión y evaluación ambiental</h3>
                <p>Aplicamos instrumentos de gestión y evaluación que nos permiten una mejor comprensión, prevención, manejo y mitigación de los impactos ambientales.</p>
                <div class="ods">
                    <img src="../../../assets/image/ods/ods.png" alt="ods">
                    <img src="../../../assets/image/ods/ods6.png" alt="ods6">
                    <img src="../../../assets/image/ods/ods11.png" alt="ods11">
                    <img src="../../../assets/image/ods/ods12.png" alt="ods12">
                    <img src="../../../assets/image/ods/ods15.png" alt="ods15">
                    <img src="../../../assets/image/ods/ods17.png" alt="ods17">
                </div>
            </div>
            <div class="profile-section">
                <img src="../../../assets/image/profiles/elizabeth_carvajal_florez.png" alt="imagen-profesor" class="profile-image">
                <div>
                    <div class="academic-buttons">
                        <a href="https://orcid.org/0000-0003-4850-8850" class="academic-button">
                            <img src="../../../assets/image/icons/orcid.png" alt="orcid">
                            <span class="tooltipp">perfil ORCID</span>
                        </a>
                        <a href="https://www.researchgate.net/profile/Elizabeth-Carvajal-Florez" class="academic-button">
                            <img src="../../../assets/image/icons/researchgate.png" alt="researchgate">
                            <span class="tooltip">perfil Researchgate</span>
                        </a>
                        <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001347928" class="academic-button">
                            <img src="../../../assets/image/icons/cvlac.png" alt="cvlac">
                            <span class="tooltip">perfil CVLAC</span>
                        </a>
                    </div>
                    <p class="profile-role">Docente Líder</p>
                    <p class="profile-name">Elizabeth Carvajal Flórez, PhD.</p>
                </div>
            </div>
        </div>
        <div class="related-projects">
            <h4>Proyectos asociados a la línea de investigación</h4>
            <div class="projects-section">
                <div class="project" (click)="navigateToProjects()">
                    Adopción y apropiación de desarrollos tecnológicos generados y/o apropiados para el uso eficiente de los recursos naturales y la agrobiodiversidad, y el fortalecimiento de la agenda cero deforestaciones en la jurisdicción de CORANTIOQUIA
                </div>
                <div class="project" (click)="navigateToProjects()">
                    Desarrollo y aplicación de la metodología de huella hídrica y respuesta al índice de sostenibilidad por medio de análisis de economía circular en la Universidad Nacional de Colombia sede Medellín campus Robledo
                </div>
                <div class="project" (click)="navigateToProjects()">
                    Desarrollo de estrategias ambientales y culturales con comunidades locales para la disminución, manejo y disposición final de residuos plásticos mediante la conformación de una Red de Desarrollo Territorial para la Economía Circular, la Educación Ambiental y la Innovación Social de San Andrés de Tumaco
                </div>
            </div>
            <img src="../../../assets/image/icons/idlinea2.png" alt="image">
        </div>
    </div>

    <div class="investigator-card">
        <div class="profile-info">
            <div class="project-info">
                <h3>Sostenibilidad y economía circular</h3>
                <p>Implementamos herramientas metodológicas para evaluar la sostenibilidad ambiental, social y económica para la toma de decisiones.</p>
                <div class="ods">
                    <img src="../../../assets/image/ods/ods.png" alt="ods">
                    <img src="../../../assets/image/ods/ods1.png" alt="ods1">
                    <img src="../../../assets/image/ods/ods6.png" alt="ods6">
                    <img src="../../../assets/image/ods/ods11.png" alt="ods11">
                    <img src="../../../assets/image/ods/ods12.png" alt="ods12">
                    <img src="../../../assets/image/ods/ods17.png" alt="ods17">
                </div>
            </div>
            <div class="profile-section">
                <img src="../../../assets/image/profiles/natalia_andrea_cano_londono.png" alt="imagen-profesor" class="profile-image">
                <div>
                    <div class="academic-buttons">
                        <a href="https://orcid.org/0000-0003-4828-6442" class="academic-button">
                            <img src="../../../assets/image/icons/orcid.png" alt="orcid">
                            <span class="tooltipp">perfil ORCID</span>
                        </a>
                        <a href="https://www.researchgate.net/profile/Natalia-Cano" class="academic-button">
                            <img src="../../../assets/image/icons/researchgate.png" alt="researchgate">
                            <span class="tooltip">perfil Researchgate</span>
                        </a>
                        <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001346539" class="academic-button">
                            <img src="../../../assets/image/icons/cvlac.png" alt="cvlac">
                            <span class="tooltip">perfil CVLAC</span>
                        </a>
                    </div>
                    <p class="profile-role">Docente Líder</p>
                    <p class="profile-name">Natalia Andrea Cano Londoño, PhD.</p>
                </div>
            </div>
        </div>
        <div class="related-projects">
            <h4>Proyectos asociados a la línea de investigación</h4>
            <div class="projects-section">
                <div class="project" (click)="navigateToProjects()">
                    Desarrollo y aplicación de la metodología de huella hídrica y respuesta al índice de sostenibilidad por medio de análisis de economía circular en la Universidad Nacional de Colombia sede Medellín campus Robledo.
                </div>
                <div class="project" (click)="navigateToProjects()">
                    Fortalecimiento de capacidades locales para el desarrollo productivo compatible con el clima, el aseguramiento de los medios de vida sostenible y evitar la crisis de seguridad alimentaria mediante procesos de innovación abierta y participativa en la Vereda el Pencal, municipio de Olaya.
                </div>
                <div class="project" (click)="navigateToProjects()">
                    Desarrollo de estrategias ambientales y culturales con comunidades locales para la disminución, manejo y disposición final de residuos plásticos mediante la conformación de una Red de Desarrollo Territorial para la Economía Circular, la Educación Ambiental y la Innovación Social de San Andrés de Tumaco.
                </div>
            </div>
            <img src="../../../assets/image/icons/idlinea3.png" alt="image">
        </div>
    </div>

    <div class="investigator-card">
        <div class="profile-info">
            <div class="project-info">
                <h3>Ordenamiento y gestión territorial</h3>
                <p>Analizamos las dinámicas territoriales, estudiando sus causas, consecuencias y la capacidad de las comunidades para dar respuesta a las mismas.</p>
                <div class="ods">
                    <img src="../../../assets/image/ods/ods.png" alt="ods">
                </div>
            </div>
            <div class="profile-section">
                <img src="../../../assets/image/profiles/maria_adelaida_torres_sanchez.png" alt="imagen-profesor" class="profile-image">
                <div>
                    <div class="academic-buttons">
                        <!-- <a href="https://orcid.org/0000-0003-4850-8850" class="academic-button">
                            <img src="../../../assets/image/icons/orcid.png" alt="orcid">
                            <span class="tooltipp">perfil ORCID</span>
                        </a>
                        <a href="https://www.researchgate.net/profile/Elizabeth-Carvajal-Florez" class="academic-button">
                            <img src="../../../assets/image/icons/researchgate.png" alt="researchgate">
                            <span class="tooltip">perfil Researchgate</span>
                        </a> -->
                        <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000065834" class="academic-button">
                            <img src="../../../assets/image/icons/cvlac.png" alt="cvlac">
                            <span class="tooltip">perfil CVLAC</span>
                        </a>
                    </div>
                    <p class="profile-role">Docente Líder</p>
                    <p class="profile-name">Maria Adelaida Torres Sánchez, PhD.</p>
                </div>
            </div>
        </div>
        <div class="related-projects">
            <h4>Proyectos asociados a la línea de investigación</h4>
            <div class="projects-section">
                <div class="project" (click)="navigateToProjects()">
                    Desarrollo y aplicación de la metodología de huella hídrica y respuesta al índice de sostenibilidad por medio de análisis de economía circular en la Universidad Nacional de Colombia sede Medellín campus Robledo.
                </div>
            </div>
            <img src="../../../assets/image/icons/idlinea3.png" alt="image">
        </div>
    </div>
</section>